@model WeatherForecast.Models.WeatherForecastModel
@{
    ViewBag.Title = "Home Page";
}

<h1 class="row text-center">Weather Forecast App</h1>

@using (Html.BeginForm("WeatherForecastByCityName", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6 col-md-offset-2"><input type="text" class="form-control" name="cityName" /></div>
        <div class="col-md-2"><input type="submit" class="btn btn-primary btn-block" value="Find" /></div>
    </div>
}

@if (Model != null)
{
    <div class="row">
        <h3 class="col-md-10 col-md-offset-2 text-center">
            @Html.Label($"Weather and forecasts in {Model.City.Name}, {Model.City.Country}")
        </h3>
    </div>
    var nowDayOfWeek = DateTime.Today.DayOfWeek;
    for (var i = 0; i < Model.List.Count;)
    {
        //var rowDayOfWeek = Model.List[i].DtTxt.DayOfWeek;
        var rowDate = Model.List[i].DtTxt;
        <div class="row">
            <h5 class="col-md-8 col-md-offset-3 text-warning">
                @Html.Label($"{rowDate:dddd, dd MMMM yyyy}")
            </h5>
        </div>

        while ((i < Model.List.Count) && (rowDate.DayOfWeek == Model.List[i].DtTxt.DayOfWeek))
        {
            <div class="row">
                <div class="col-md-8 col-md-offset-3">
                    @{
                        var div = new TagBuilder("div");
                        div.AddCssClass("col-md-8 col-md-offset-3");
                        var labelString = $"{Model.List[i].DtTxt:HH:mm}  {Model.List[i].Main.Temp}";
                    }
                    @labelString
                </div>
            </div>
            i++;
        }


    }
}